{% extends 'base.html' %}

{% block title %} Анкета {% endblock %}
{% block content %}

    <style>
    .header-h1 {
    position: relative;
    margin-bottom: .5rem;
    text-align: center;
  }
  .header-h1 h1 {
    display: inline-block;
    background: #fff;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border: .125rem solid #6a1b9a;
    color: #6a1b9a;
  }
  .header-h1 h1::after {
    content: "";
    position: absolute;
    background: #6a1b9a;
    height: .125rem;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -999;
  }
  .header-h1-dark h1 {
    background: #6a1b9a;
    color: #fff;
 }
 </style>

    <div class="header-h1">
        <h1>Ваш ответ записалася. Переходим на вкладку статистики</h1>
    </div>

      <meta http-equiv="Refresh" content="1; URL=/rating">

{% endblock %}